body {
	background: rgb(255,176,187);
	background: linear-gradient(0deg, rgba(255,176,187,1) 0%, rgba(223,253,255,1) 50%, rgba(255,232,183,1) 100%);
}

#content {
	backround-image: url("../images/paper.jpg");
  	background-repeat: repeat;
	width: 960px;
	margin:	10px 10px 10px 10px;
	box-shadow: 0px 5px 10px 5px rgba(0,0,0,1);
	border radius 15px;
}

#header {

}